/* 
цвет основного текста #757575 
цвет заголовков и навигации #212121
белый #FFFFFF

акцент #2196F3

основной бекграунд  #E5E5E5;
шапка  #FFFFFF;
дополнительный бекграунд #F5F4FA
подвал #2F303A;
контакты в подвале rgba(255, 255, 255, 0.6);
*/

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
}

body {
  color: var(--primary-text-color);
  background-color: #ffffff;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
}

/* ----------------------------Шапка---------------------------- */
.logo {
  color: #000000;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.logo-accent {
  color: var(--accent-color);
}

.site-nav .link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.auth-nav .link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #757575;
}
.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

/* ----------------------------Герой---------------------------- */
.hero {
  background-color: #2f303a;
}

.hero-title {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-button {
  background-color: var(--accent-color);
  color: #ffffff;
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}
.hero-button:hover,
.hero-button:focus {
  background-color: #188ce8;
}

/* ----------------------------Секция---------------------------- */
.section .section-title {
  color: var(--title-text-color);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/* ----------------------------Преимущевства---------------------------- */
.feature .title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.feature .text {
  font-size: 14px;
  line-height: 1.71;
}

/* ----------------------------Команда---------------------------- */
.command {
  background-color: #f5f4fa;
}
.command .title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.command .cards {
  background-color: #ffffff;
}
.command .text {
  line-height: 1.19;
  text-align: center;
}

/* ----------------------------Подвал---------------------------- */
.logo-footer {
  color: #ffffff;
}
.footer {
  background-color: #2f303a;
}
.footer-adress {
  color: #ffffff;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}
.footer-link {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
}

.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}

/* ----------------------------Портфолио------------------------ */
.portfolio-link {
  text-decoration: none;
}
.portfolio-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}
.portfolio-text {
  line-height: 1.88;
  color: var(--primary-text-color);
}

.portfolio-button {
  background-color: #f5f4fa;
  color: var(--title-text-color);
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
}
.portfolio-button:hover,
.portfolio-button:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}
